
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Georgia", "Times New Roman", serif;
}

/* PAGE BASE */
body {
  background-color: black;
  color: white;
    height: 100%;
  margin: 0;
}

/* HEADER */
.head {
  background:url(https://cdn.prod.website-files.com/687f5648b07a8b67bf809294/687f655bdaf9647fea486a76_20905926fbd351d844db7e5c93b05757_hero-bg.jpg);
  padding: 18px;
  display: flex;
  align-items: center;
  gap: 40px;
}

.head a {
  text-decoration: none;
  color:white;
  font-size: 20px;
  letter-spacing: 0.5px;
}

.head a:hover {
  color: #676768;
  cursor: pointer;
}

/* MAIN CONTENT */
main {
  border-radius: 8px;
  max-width: 1100px;
  margin: 40px auto;
  padding: 20px 30px;
   background:url(https://cdn.prod.website-files.com/687f5648b07a8b67bf809294/687f655bdaf9647fea486a76_20905926fbd351d844db7e5c93b05757_hero-bg.jpg);

}

/* FOOTER */
footer {
 background:url(https://cdn.prod.website-files.com/687f5648b07a8b67bf809294/687f655bdaf9647fea486a76_20905926fbd351d844db7e5c93b05757_hero-bg.jpg);
  border-top: 1px solid #ddd;
  text-align: center;
  padding: 18px;
  font-size: 14px;
  color: whitesmoke;
  
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .head {
    padding: 15px 25px;
    gap: 20px;
  }

  main {
    margin: 20px;
    padding: 20px;
  }
}
.head {
  display: flex;
  align-items: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1; 
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
}









