.events-container {
  margin: auto;
  padding: 20px;
}

.event-card {
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.event-card h3 {
  color: #333;
}

.event-card a {
  display:inline-block;
  margin-top: 10px;
  color: white;
  background: #007bff;
  padding: 6px 12px;
  border-radius: 5px;
  text-decoration: none;
}

.cards-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  justify-items: center;
  padding: 10px;
}

.card {
  background-color: #c9e1fa;
  width: 100%;
  max-width: 300px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  border-radius: 8px;
  overflow: hidden;
  text-align: center;
  box-shadow: 0px 0px 20px black;
  &:hover{
    transform: translateY(-10px);
    transition: 500ms all;
  }
}

.card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}
.event-card button{
  height:35px;
  width: 100px;
  margin-top: 10px;
  color: white;
  background: #007bff;
  padding: 6px 12px;
  border-radius: 8px;
}
